@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald");
:root {
  --color-black: #323330;
  --color-gray: #222222;
  --color-gray-dark: #151515;
  --line: 1px solid var(--color-grey);
  --font-heading: "Oswald", sans-serif;
  --font-primary: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* $bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px */

  * {
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%;
    }
  }

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}
