@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

:root {
  --color-blue: #1f7a8c;
  --color-white: #fafafa;
  --color-yellow: #fec601;
  --line: 1px solid var(--color-grey);
  --text-primary: "Lato", sans-serif;
  --text-heading: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-heading);
  font-size: 3rem;
}

/* $bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: var(--text-primary);
  background: #4ea9da;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
  min-height: 100vh;
}
